/* Resets */

* {
	margin: 0;
}

/* Body */

body {
	background-color: #f2f2f2;
}

/* Header & Footer */

header, footer {
	background-color: #55acee;
	color: #ffffff;
	width: 100%;
}

header h1 {
	padding: 10px 0 10px 20px;
	font-size: 48px;
	font-family: 'Lato', sans-serif;
}

footer {
	padding: 10px 0;
	font-family: 'Merriweather', serif;
	text-align: center;
}

/* Main Content */

.main {
	width: 960px;
	margin: 0 auto;
}

article {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	border: 1px solid #e1e8ed;
	border-radius: 6px;
	padding: 5px 10px;
	margin: 5px 10px;
	background-color: #fff;
}

article span {
	display: inline-block;
}

.user {
	color: #0000b3;
	margin-bottom: 10px;
}

.message {
	font-size: 16px;
}

.time {
	float: right;
	color: #696969;
}

/* Aside */

section {
	overflow: hidden;
}

aside {
	float: left;
	width: 200px;
	font-family: 'Lato', sans-serif;
	border-radius: 6px;
	color: #000;
	background-color: #fff;
	padding: 5px 10px;
	margin: 5px 0 5px 10px;
	font-size: 24px;
}

.user_selected {
	font-size: 18px;
	margin: 8px;
	color: #696969;
}
